@page

<script>
    var username = "@User.Identity!.Name";
</script>

<script>
    // Функция для поиска пользователей
    function searchUsers() {
        // Получаем значение поискового запроса
        var searchValue = document.getElementById("searchInput").value.toLowerCase();
        // Получаем список всех пользователей в селекте
        var usersSelect = document.getElementById("users");
        var options = usersSelect.getElementsByTagName("option");

        // Перебираем все опции в селекте
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            var username = option.textContent.toLowerCase();
            // Проверяем, содержит ли имя пользователя поисковой запрос
            if (username.indexOf(searchValue) !== -1) {
                // Если содержит, то показываем этого пользователя
                option.style.display = "block";
            } else {
                // Если не содержит, то скрываем этого пользователя
                option.style.display = "none";
            }
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("show").addEventListener("click", openDialog);
        document.querySelector("#dialog .close").addEventListener("click", closeDialog);
    });

    function openDialog() {
        var dialog = document.getElementById("dialog");
        dialog.showModal();
    }

    function closeDialog() {
        var dialog = document.getElementById("dialog");
        dialog.close();
    }
</script>


<div class="container">
    <div class="row p-1">
        <div class="col-1">Add friend</div>
        <div class="col-5"><button id="show">add</button></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Receiver</div>
        <div class="col-5">
            <input type="text" class="w-100" id="searchInput" oninput="searchUsers()" placeholder="Search contacts">
            <select id="users" class="w-100"></select>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <dialog id="dialog">
        <input type="text" id="contactEmailInput" placeholder="Email"></input>
        <button id="addContactButton">Add</button>
        <button class="close">Close</button>
    </dialog>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

