@page

<script>
    var username = "@User.Identity!.Name";
</script>

@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Отключаем кнопку отправки при загрузке страницы
        document.getElementById("sendButton").disabled = true;

        // Обработчик для включения/выключения кнопки отправки
        document.getElementById("messageInput").addEventListener("input", function () {
            var message = document.getElementById("messageInput").value.trim();
            document.getElementById("sendButton").disabled = message === "";
        });

        document.getElementById("show").addEventListener("click", openDialog);
        document.getElementById("updateShow").addEventListener("click", openUpdateDialog); // Обработчик для открытия диалогового окна изменения имени
        document.querySelector("#dialog .close").addEventListener("click", closeDialog);
        document.querySelector("#updateDialog .close").addEventListener("click", closeUpdateDialog);
        document.getElementById("saveDisplayNameButton").addEventListener("click", function (event) {
            var newDisplayName = document.getElementById("newDisplayNameDialogInput").value;
            var contactEmail = document.getElementById("users").value;
            connection.invoke("UpdateContactDisplayName", contactEmail, newDisplayName).catch(function (err) {
                return console.error(err.toString());
            });
            closeUpdateDialog();
            event.preventDefault();
        });

        document.getElementById("fileInput").addEventListener("change", function (event) {
            var file = event.target.files[0];
            if (file) {
                var receiverEmail = document.getElementById("users").value;
                var formData = new FormData();
                formData.append("file", file);
                formData.append("receiverEmail", receiverEmail);

                fetch("/upload", {
                    method: "POST",
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("File sent successfully");
                        } else {
                            alert("Error sending file: " + data.error);
                        }
                    }).catch(error => {
                        console.error("Error uploading file:", error);
                    });
            }
        });
    });

    function openDialog() {
        var dialog = document.getElementById("dialog");
        dialog.showModal();
    }

    function closeDialog() {
        var dialog = document.getElementById("dialog");
        dialog.close();
    }

    function openUpdateDialog() {
        var dialog = document.getElementById("updateDialog");
        var contactEmail = document.getElementById("users").value;
        document.getElementById("newDisplayNameDialogInput").value = contactEmail; // Устанавливаем текущее имя в поле ввода
        dialog.showModal();
    }

    function closeUpdateDialog() {
        var dialog = document.getElementById("updateDialog");
        dialog.close();
    }
</script> *@

<style>
    .main-container {
        display: flex;
        flex-direction: row;
        height: 85vh;
    }

    .contacts-container {
        width: 200px;
        border-right: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px;
    }

    .contact-button {
        background-color: #f8f9fa;
        border: none;
        padding: 10px;
        margin: 5px 0;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .contact-button:hover {
            background-color: #ddd;
        }

    .active-contact {
        background-color: #007bff;
        color: white;
    }

    .test {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
    }

    .content {
        overflow-y: auto;
        height: calc(100% - 140px);
    }

    .input-container {
        flex-shrink: 0;
        background-color: #f8f9fa;
    }

    .row {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    #sendButton, #uploadButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        padding: 10px;
        border-radius: 50%;
        border: none;
        outline: none;
        color: white;
        background-color: #1751d0;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        #sendButton:disabled, #uploadButton:disabled {
            cursor: not-allowed;
            background-color: #999999;
        }

        #sendButton:hover:enabled, #uploadButton:hover:enabled {
            background-color: #0d3ea9;
        }

        #sendButton i, #uploadButton i {
            font-size: 24px; /* Adjust the icon size if needed */
        }

    ul#messagesList {
        padding-left: 0;
    }

    #fileInput {
        display: none;
    }

    dialog {
        border: solid 1px #ccc;
        padding: 20px;
    }

        dialog .close {
            background: #d9534f;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            float: right;
        }
</style>

<div class="container">
    <div class="main-container">
        <div class="contacts-container" id="contactsContainer">
            <button id="show">Add friend</button>
            <!-- Контакты будут добавляться динамически -->
        </div>
        <div class="test">
            <div class="content">
                <ul id="messagesList"></ul>
            </div>
            <div class="input-container">
                <div class="row p-1">
                    <div class="col-1">Message</div>
                    <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
                </div>
                <div class="row p-1">
                    <div class="col-6 text-end">
                        <input type="file" id="fileInput" />
                        <button type="button" id="uploadButton"><i class="material-icons">attach_file</i></button>
                        <button type="button" id="sendButton"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </div>
            <dialog id="dialog">
                <input type="text" id="contactEmailInput" placeholder="Email"></input>
                <button id="addContactButton">Add</button>
                <button class="close">Close</button>
            </dialog>

            <dialog id="updateDialog">
                <input type="text" id="newDisplayNameDialogInput" placeholder="New Display Name"></input>
                <button id="saveDisplayNameButton">Save</button>
                <button class="close"><i class="material-icons">close</i></button>
            </dialog>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

