@page

<script>
    var username = "@User.Identity!.Name";
</script>

<style>
    .main-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .contacts-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px;
    }

    .contact-button {
        background-color: #f8f9fa;
        border: none;
        border-radius: 10px;
        padding: 10px;
        margin: 5px 0;
        text-align: left;
        cursor: pointer;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        white-space: nowrap; /* Добавляет перенос строки */
        overflow: hidden; /* Скрывает переполнение */
        text-overflow: ellipsis; /* Добавляет многоточие при переполнении */
    }

    .contact-button:hover {
        color: black;
        background-color: #ddd;
    }

    .active-contact {
        background-color: #007bff;
        color: white;
    }

    .contact-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        flex-shrink: 0; /* Запрещает изменять размер аватарки */
    }

    .contact-name {
        flex-grow: 1; /* Разрешает имени заполнять оставшееся пространство */
        overflow: hidden; /* Скрывает переполнение */
        text-overflow: ellipsis; /* Добавляет многоточие при переполнении */
    }

    .test {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        background-image: url("https://localhost:7262/resources/background.png");
        background-size: 120%;
        border-left: 2px solid #dddddd;
    }

    .content {
        overflow-y: auto;
        height: calc(100% - 140px);
    }

    .input-container {
        display: flex;
        align-items: center;
        padding: 8px;
        background-color: white;
        width: 80%;
        border-radius: 12px;
    }

    .row {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    #sendButton, #uploadButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        border: none;
        outline: none;
        color: #ccc;
        background-color: transparent;
        cursor: pointer;
        transition: color 0.3s;
    }

    #uploadButton {
        transform: rotate(45deg);
    }

    #sendButton:disabled, #uploadButton:disabled {
        cursor: not-allowed;
        background-color: transparent;
    }

    #sendButton:hover:enabled, #uploadButton:hover:enabled, #sendButton:enabled {
        color: #0d3ea9;
        transition: all 0.3s;
    }

    #sendButton i, #uploadButton i {
        font-size: 24px; /* Adjust the icon size if needed */
    }

    ul#messagesList {
        padding-left: 0;
    }

    #fileInput {
        display: none;
    }

    dialog {
        border: solid 1px #ccc;
        border-radius: 24px;
        padding: 20px;

    }

    .addUserDialog {
        display: flex;
    }

    dialog input {
        border: 2px solid #ccc;
        outline: none;
        border-radius: 12px;
        padding: 11px;
        transition: all 0.2s;
    }

    dialog input:hover, 
    dialog input:active,
    dialog input:focus {
        border: 2px solid #1751d0;
        transition: all 0.2s;
    }

    dialog .add {
        display: flex;
        border-radius: 24px;
        border: none;
        padding: 12px;
        margin-left: 10px;
        cursor: pointer;
    }

    dialog .close {
        display: flex;
        border-radius: 24px;
        border: none;
        padding: 12px;
        margin-left: 10px;
        cursor: pointer;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        border: 3px solid #e9e9eb;
    }

    .message-container {
        display: flex;
        align-items: center;
        padding: 10px;
        padding-top: 2px;
    }

    .message-image {
        max-width: 200px;
        max-height: 200px;
        margin-left: 10px;
        border-radius: 10px;
        border: 5px solid #e9e9eb;
    }

    .message-container.sent {
        justify-content: flex-end;
        text-align: right;
    }

    .message-container.sent .avatar {
        order: 2;
        margin-left: 10px;
        margin-right: 0;
    }

    .message-container.sent .message-content {
        order: 1;
    }

    .message-container .message-content {
        background-color: #e9e9eb;
        border-radius: 10px;
        color: black;
        padding: 10px;
        max-width: 70%;
        word-wrap: break-word;
    }

    .message-container .message-file {
        background-color: #e9e9eb;
        border-radius: 10px;
        padding: 10px;
        max-width: 70%;
        word-wrap: break-word;
        display: inline-block;
        margin-left: 10px;
    }

    #messageInput {
        padding-left: 18px;
        padding: 10px;
        border:none;
        background-color: transparent;
        outline: none;
        width: 100%;
        box-sizing: border-box; /* Added this line */
    }

    #messageInput::placeholder {
        color: #ccc;
    }

    .context-menu {
        background-color: #f9f9f9;
        border: 2px solid #ccc;
        padding: 10px;
    }

    .menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-list li {
        padding: 8px 12px;
        cursor: pointer;
    }

    .menu-list li:hover {
        background-color: #f0f0f0;
    }

    #messages-header {
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bottom-msg-input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 85px;
    }
</style>


    <div class="container">
        <div class="main-container">
            <div style="display: flex; flex-direction:column; width: 30%;">
                <h1 id="messages-header">Messages</h1>
                <div class="contacts-container" id="contactsContainer"></div>
            </div>
            <div class="test">
                <div class="content">
                    <ul id="messagesList"></ul>
                </div>
                <div class="bottom-msg-input">
                    <div class="input-container">
                        <input type="file" id="fileInput" />
                        <button type="button" id="uploadButton"><i class="material-icons">attach_file</i></button>
                        <input type="text" class="w-100" id="messageInput" placeholder="Message" />
                        <button type="button" id="sendButton" disabled><i class="material-icons">send</i></button>
                    </div>
                </div>
                <dialog id="dialog">
                    <div class="addUserDialog">
                        <input type="text" id="contactEmailInput" placeholder="Email" />
                        <button class="add" id="addContactButton"><i class="material-icons">add</i></button>
                        <button class="close"><i class="material-icons">close</i></button>
                    </div>
                </dialog>

                <dialog id="updateDialog">
                    <input type="text" id="newDisplayNameDialogInput" placeholder="New Display Name" />
                    <button id="saveDisplayNameButton"><i class="material-icons">save</i></button>
                    <button class="close"><i class="material-icons">close</i></button>
                </dialog>

                <div id="contextMenu" class="context-menu" style="display: none; position: absolute; z-index: 1000;">
                <ul class="menu-list">
                    <li id="editName">Edit Name</li>
                    <li id="deleteContact">Delete Contact</li>
                </ul>
            </div>
            </div>
        </div>
    </div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>